---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div id="vcomments"></div>
  <script>
      new Valine({
          el: '#vcomments',
          appId: '3WoOx4KUTKADqRr1kjcxYvP2-gzGzoHsz',
          appKey: '0EKmmcKCr3829RtHmw2fvcq7',
          notify:false, 
          verify:false, 
          avatar:'mm', 
          placeholder: '随意聊聊.'
      })
  </script>
  
</div>
